Thumbs.db
*ReSharper*
*DotSettings*
*.suo
*.sln.docstates
obj
*.exe
*.pfx
*.iss
/Output/fsb-padfile.xml
/Output/Debug/*.config
/Output/Debug/*.pdb
/Output/Debug/*.manifest
/Output/Debug/*.dll
/Output/Debug/System/config.xml
/Output/Debug/System/fsb-update.xml
/Output/Debug/System/instruments.xml
/Output/Debug/Strategies/*.csv
!/Output/Release/FSB\ Starter.exe
/Output/Release/*.config
/Output/Release/*.pdb
/Output/Release/*.manifest
/Output/Release/*.dll
/Output/Release/Strategies/*.csv
/Output/Release/System/config.xml
/Output/Release/System/fsb-update.xml
/Output/Release/System/instruments.xml